<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block header %}

		<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
			<a class="navbar-brand" href="{{ path('app_login') }}">ProjectHub
			</a>
		</nav>
	</body>
</html></div>{% endblock%}{% block body %}{% endblock %}{% block javascripts %}{% endblock %}</body></html></body></html></body></html>
