<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% block header %}
		<div>
			<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
				<a class="navbar-brand" href="#">ProjectHub</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

					<span class="navbar-toggler-icon"></span>
				</button>
				<a class="nav-link" href="#">Home
				</a>
				<a class="nav-link" href="#">Home
				</a>
				<a class="nav-link" href="#">Home
				</a>
			</nav>
		</div>
		{% endblock%}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html></body></html></body></html>
